.slideout {
  background: rgba(58, 55, 55, 0.9);
  color: #fff;
  height: 100%;
  min-height: 100%;
  padding: 0;
  position: fixed;
  right: -40vw;
  top: 0;
  transition-duration: 0.2s;
  width: 40vw;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0.5em;
}
.slideout.on{
  right: 0;
}

.slideout button,
.slideout button:active,
.slideout button:focus,
.slideout button:hover {
  width: 80px;
  background-color:#f00;
  border: none;
  color: #FFF;
  font-family: inherit;
  font-size: .75rem;
  font-weight: 700;
  padding: .5em 1em;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  right: 0;
  display: block;
  margin: 0.5em 0 1em 0;
  outline: none;
}

.slideout h4{
  text-align: left;
  font-size: 21px;
  line-height: 1em;
  font-weight: 700;
  margin: 0 0 1em 0;
  padding: 0;
  line-height: 1.5em;
}

.slideout .player{
  width: 100%;
  height: 310px;
  overflow: hidden;
  position: relative;
  margin-bottom: 1em;
}
.slideout .pin-img{
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 1em;
}

.slideout .player youtube-player{
	width:100%;
	position: absolute;
	top:-70px;
}

.slideout .pin-info {
  padding: 0;
  position: relative;
  display: block;
  margin: 1em 0 1em 0;
}

/*Celulares*/
@media screen and (max-width: 767px) {
  .slideout{
    width: 100vw;
    right: -100vw;
  }
  .slideout.on:before{
    content: "";
    display: block;
    width: 100vw;
    height: 50px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    background: rgba(58, 55, 55, 0.9);
  }

  .slideout button,
  .slideout button:active,
  .slideout button:focus {
    top: 0.5em;
    right: 1em;
    position: fixed;
    z-index: 3;
  }
  .slideout h4 {
    margin-top: 2.5em;
  }
}

/*Tablets*/
@media screen and (min-width: 768px) {
  .slideout{
    width: 60vw;
    right: -60vw;
  }
  .slideout.on:before{
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .slideout{
    width: 30vw;
    right: -30vw;
  }
  .slideout .player{
    height: 320px;
  }
}
