<google-map [center]="center" [zoom]="zoom" [options]="options" height="100%" width="100%">
  <map-marker #markerElement="mapMarker"
              (mapClick)="openInfoWindow(markerElement, marker)"
              *ngFor="let marker of markers"
              [options]="marker.option"></map-marker>
  <map-info-window (closeclick)="slideOut()">{{info}}</map-info-window>
</google-map>

<content (ready)="onReady($event)" (stateChange)="onStateChange($event)" class="slideout {{shown}}">
  <button (click)="slideOut()">Fechar</button>
  <youtube-player
                *ngIf="videoId"
                [videoId]="videoId"></youtube-player>
  <img class="pin-img" *ngIf="cover" [src]="cover" />
  <div class="pin-info" *ngIf="html" [innerHTML]="html"></div>
</content>

<div class="root"></div>
