<google-map [center]="center" [zoom]="zoom" [options]="options" height="100%" width="100%">
  <map-marker #markerElement="mapMarker"
              (mapClick)="openInfoWindow(markerElement, marker)"
              *ngFor="let marker of markers"
              [options]="marker.option"
              ></map-marker>
  <map-info-window (closeclick)="slideOut()">{{info}}</map-info-window>
</google-map>
<div id="pencet" (click)="status=!status" [ngClass]="status ? 'Diam' : ''">
  <span></span>
  <span></span>
  <span></span>
</div>
<div id="navigation" [ngClass]="status ? 'on' : ''">
  <div class="menu">
    <iframe src="https://gabrieltramos0.wixsite.com/website" width="100%" height="100%"></iframe>
  </div>
</div>
<content class="slideout {{shown}}">
  <button (click)="slideOut()">Fechar</button>
  <h4>{{info}}</h4>
  <div *ngIf="videoId" class="player">
    <youtube-player (ready)="onReady($event)" (stateChange)="onStateChange($event)"
                [videoId]="videoId"
                width="100%"
                suggestedQuality="highres"
                frameborder="0"
                [playerVars]="playerVars"
                ></youtube-player>
  </div>
  <img class="pin-img" *ngIf="cover" [src]="cover" />
  <div class="pin-info" *ngIf="html" [innerHTML]="html"></div>
</content>

<div class="root"></div>
