@import "./styles/reset.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import "./styles/menu.css";
@import "./styles/slideout.css";


 :host {
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.5;
    overflow: hidden;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  border: 1px solid red;
}

ul, ol{
  list-style: none;
  list-style-position: inside;
}

google-map{
  position: absolute;
  width: 100vw;
  height: 100vh;
}

content {
  display: block;
  padding: 0;
  z-index: 1;
}
